html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #535353;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 80%;
    height: 100%;
    padding: 25px;
    margin: auto;
    background-color: #dadada;
}

main{
    background-color: white;
    width: 90%;
    height: 80%;
    position: relative;
    display: block;
    margin: auto;
}

#inputs{
    position: absolute;
    width: 50%;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

li{
    display: block;
    text-align: center;
    padding: 10px 0px;
}
#data{
    width: 100%;
    height: 50%;
    padding: 20px 0px;
    background-color: white;

}

#piechart{
    margin: auto;
    background-color: white;
    display: block;
    width: 100%;
    height: 50%;
    top: 55%;
    position: absolute;
}

button{
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
}

input{
    display: block;
    width: 75%;
    margin: auto;
    padding: 10px 0px;
}

#outputs{
    position: absolute;
    width: 50%;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

#outputs h1{
    text-align: center;
}

#outputs h2{
    text-align: center;
}

#title{
    text-align: center;
}